# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Set up RStudio
* Use Jupyter Notebook

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>SciPy</li>
</ol>

|Data Science Tools|
| --- |
|Spyder|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [27]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jan Hulsebosch